<a href="https://colab.research.google.com/github/abhaydell/potential-spork/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PYTHON ASSIGNMENT
15.PYTHON OPEATORS

In [ ]:
#SUM
a=8
b=4
result=a+b
print(result)

In [ ]:
#difference
result=a-b
print(result)

In [ ]:
#product
result=a*b
print(result)

In [ ]:
#quotient
result=a/b
print(result)

In [ ]:
x=5
y=2
#modulus
result=x%y
print(result)

In [ ]:
#exponential
result=x**y
print(result)

In [ ]:
a=4
b=5
#not equal to
result=a!=b
print(result)

In [ ]:
#logical AND
x=True
y=False
result= x and y
print(result)

In [ ]:
#logical or
x=True
y=True
result=x or y
print (result)

In [ ]:
#logical NOT
x=True
result= not x
print(result)

In [ ]:


#'is ' operator
x="pwskills"
result=x is y
print(result)

In [ ]:
#'is not'operator
x="pwskills"
y=x
result=x is not y
print(result)

In [ ]:
#bitwise operator:left shift
result=8<<2#shift 8 two bits to the left
print(result)

In [ ]:
#bitwise operator:right shift
value=32
shifted=value>>2#shift 32 two bits to the right
print(shifted)

In [ ]:
#assignment (=)
a=20

In [ ]:
#addition assignment(+=)
a+=5
print(a)

In [ ]:
#multipal assignment(*=)
a*=4
print(a)

In [ ]:
#'in' operator
text="data science courseis available in PWskills"
result="data science" in text
print(result)

In [ ]:
#'not in'operator
text="data science course is available in PWskills"
result="data science" not in text
print(result)

16. PYTHON TYPE CONVERSION

In [ ]:
#convert an integer to a floating point number
int_num=7/3
float_num = float(int_num)
print(float_num)

In [ ]:
# convert a float to an integer
float_num=10.5
int_num=int(float_num)
print (int_num)

In [ ]:
#convert an integer to a string
int_num=32
str_num=str(int_num)
print(str_num)

In [ ]:
#convert a list to a tuple
my_list=[1,2,3,4,5]
my_tuple=tuple(my_list)
print(my_tuple)

In [ ]:
#convert a tuple to a list
my_tuple=(1,2,3,4,5)
my_list=list(my_tuple)
print(my_list)

In [ ]:
#convert a decimal num to binary
decimal_num=42
binary_num=bin(decimal_num)
print(binary_num)

In [ ]:
#convert a non_zero number to boolean
x=5
result=bool(x)
print(result)

17.PYTHON CONDITIONS(IF,ELSE,IF_ELIF_ELSE)

In [ ]:
a=5
if a>0:
  print("a is positive")

In [ ]:
marks=90
if marks>=90:
  print("you got an 'A'grade!")

In [ ]:
#season is based on months number
month=12
if month==1:
  season="winter"
elif month==2:
  season="winter"
elif month==3:
  season="spring"
elif month==4:
  season="spring"
elif month==5:
  season="spring"
elif  month==6:
  season="summer"
elif month==7:
  season="summer"
elif month==8:
  season="summer"
elif month==9:
  season="autumn"
elif month==10:
  season="autumn"
elif month==11:
  season="autumn"
elif month==12:
  season="winter"

In [ ]:
# determine the type of triangle based on sides
if(conditionals): a=b=3;c=4
  print("the triangle is scalene")
elif            : a==b==c==3
  print("the triangle is equilateral")
else            : a=4,b=3,c=5
  print("the triangle is isosceles")

In [ ]:
# a leap year is 2024
year=2024
if year%4==0:
  if year%100==0:
    if year%400==0:
      print("it is a leap year")

In [ ]:
# a num is within a specified range
num=5
if num>=0 and num<=10:
  print("the number is within the range")

18.PYTHON LOOPS(FOR,WHILE)

In [ ]:
#number from 1 to 5 using a while loop to be print
num=1,2,3,4,5
while num<=5:
  print(num)

In [ ]:
# the sum of numbers from 1 t0 10 using while loop
sum=0
num=1
while num<=10:
  sum+=num
  num+=1
print("the sum is",sum)

In [ ]:
# the factorial of a number using  a for loop
num=5
factorial=1
for i in range(1,num+1):
  factorial*=i
print("the factorial is",factorial)

In [ ]:
# the number of vowels in a string using a for loop
string="pwskills"
vowels="aeiou"
count=0
for char in string:
  if char in vowels:
    count+=1
print("the number of vowels is",count)

In [ ]:
#a pattern using nested loops to be print
for i in range(1,6):
  for j in range(1,i+1):
    print("*",end="")
  print()

In [ ]:
# a multiplication table using nested loops towards generate
for i in range(1,6):
  for j in range(1,11):
    print(i*j,end="\t")
  print()